<footer id="footer">
    <p class="unselectable">ⓒ 2024 DELTA-LANGUAGE</p>
    <p class="unselectable">Made by <a href="https://github.com/sho96">sho96</a> on GitHub</p>
    <p>Syntax highlighted by <a target="_blank" href="https://github.com/highlightjs/highlight.js">highlight.js</a></p>
</footer>