<footer id="footer">
    <p class="unselectable">ⓒ 2024 DELTA-LANGUAGE</p>
    <p class="unselectable"><a target="_blank" href="https://github.com/sho96">Made by sho96 on GitHub</a></p>
    <p><a target="_blank" href="https://github.com/highlightjs/highlight.js">Syntax highlighted by highlight.js</a></p>
</footer>