<nav>
    <div id="nav-logo" onclick="location.href='/'">
        <img src="/imgs/logo.svg" alt="">
        <h1 class="unselectable" target="_blank">DELTA</h1>
    </div>
    <div class="nav-button">
        <a class="unselectable" href="/htmls/get-started">Get Started</a>
    </div>
    <div class="nav-button">
        <a class="unselectable" target="_blank" href="https://github.com/sho96/Delta">Donwload</a>
    </div>
    <div class="nav-button">
        <a class="unselectable">Docs</a>
    </div>
</nav>