<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/get-started.css">
    <link rel="icon" href="/imgs/logo.svg">
    <title>DELTA</title>
</head>
<body>
    <%- include('../templates/navbar.ejs')%>
    <div class="var-width-container" id="main-container">
        <div class="title">
            <h1>Get Started with Delta</h1>
            <p>Delta is currently in pre-release version.</p>
        </div>
        <div class="content">
            <section id="usage">
                <header>
                    <h2>Usage</h2>
                </header>
                <p>Requirements:</p>
                <ul>
                    <li>Python 3.12+</li>
                    <li>compile.py from <a target="_blank" href="https://github.com/sho96/Delta/tree/master/compile.py">here</a></li>
                </ul>
                <ol>
                    <li>
                        <p>Compile .py to .cpp</p>
                        <p>You can compile .py to .cpp by running</p>
                        <code>python compile.py [filename].py</code>
                        <p>This will generate <code>[filename].cpp</code></p>
                    </li>
                    <li>
                        <p>Compile .cpp to executable</p>
                        <p>Make sure to use c++17 or higher</p>
                    </li>
                </ol>
            </section>
            <section id="installation">
                <header>
                    <h2>Executable Installation</h2>
                </header>
                <p>There are currently two ways to install Delta compiler executable</p>
                <ol>
                    <li>Direct Compiler Download (x64 for Windows & Mac only)</li>
                    <li>Compile from source using PyInstaller</li>
                </ol>

                <h3>Direct Executable Download</h3>
                <p>Delta compiler executable is currently compiled only for x64 platforms on Windows & Mac. <br>
                If you are using another platform, you can compile from source using PyInstaller.</p>
                <br>
                <p>You can download the executable from <a target="_blank" href="https://github.com/sho96/Delta/tree/master/compilers">here</a></p>

                <h3>Compile from Source</h3>
                <p>Requirements:</p>
                <ul>
                    <li>Python 3.12+</li>
                    <li>compile.py from <a target="_blank" href="https://github.com/sho96/Delta/tree/master/compile.py">here</a></li>
                </ul>
                <ol>
                    <li><p>Install Pyinstaller by running</p>
                        <code>pip install pyinstaller</code>
                        <p>Make sure you are installing for Python 3.12+</p>
                    </li>
                    <br>
                    <li><p>Generate compiler executable by running</p>
                        <code>pyinstaller --onefile compile.py</code>
                        <p>Your compiler will be in <code>./dist</code></p>
                    </li>
                </ol>
            </section>
        </div>
    </div>
    <%- include('../templates/footer.ejs')%>
</body>
</html>