<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <%- include('../templates/meta.ejs')%>
        <%- include('../templates/links.ejs')%>

        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="icon" href="/imgs/logo.svg" />
        <title>DELTA LANG</title>
    </head>
    <body>
        <%- include('../templates/navbar.ejs')%>
        <header id="header-top">
            <div class="left">
                <img src="/imgs/logo.svg" alt="" />
                <h1 class="unselectable">DELTA</h1>
            </div>
            <div class="right">
                <h2>The Best Python to C++ Compiler</h2>
            </div>
        </header>
        <div class="var-width-container">
            <section id="phrase-of-update">
                <h1>Write in Python<br />Run in C++</h1>
            </section>
            <section id="show-off">
<h3>Python</h3>
<pre class="syntax-highlight language-python show-off">
name: str = input("What's your name: ")
print(f"Hello, {name}!")
</pre>
<h3><span class="material-symbols-outlined">arrow_downward</span></h3>
<h3>C++</h3>
<pre class="syntax-highlight language-cpp show-off">
int main(){
    std::string name = __userinput("What's your name: ");
    std::cout << "Hello, " << name << "!";

    return 0;
}
</pre>
            </section>
            <section id="download">
                <header>
                    <h1>Start Using Delta</h1>
                    <p>currently pre-release</p>
                </header>
                <div name="download-container">
                    <h1>Try Latest Version</h1>
                    <div class="button-wrap">
                        <a target="_blank" href="https://github.com/sho96/Delta">Go to GitHub</a>
                    </div>
                </div>
            </section>
            <section id="updates">
                <header>
                    <h1>Updates</h1>
                </header>
                <div name="update-container">
                    <div class="update">
                        <h2>Added little more docs</h2>
                        <p>Jul 19, 2024</p>
                    </div>
                    <div class="update">
                        <h2>Added little docs</h2>
                        <p>Jul 18, 2024</p>
                    </div>
                    <div class="update">
                        <h2>Pre-Release 1.0.0</h2>
                        <p>Jul 16, 2024</p>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../templates/footer.ejs')%>
    </body>
    <script src="/js/syntax-highlight.js"></script>
</html>
